.team {

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;

    }

    &__item {}

    &__item-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}