@keyframes wiggle-left {
    0% {
        transform: translateY(-50%) translateX(0);
    }

    50% {
        transform: translateY(-50%) translateX(-3px);
    }

    100% {
        transform: translateY(-50%) translateX(0);
    }
}

@keyframes wiggle-right {
    0% {
        transform: translateY(-50%) translateX(0);
    }

    50% {
        transform: translateY(-50%) translateX(3px);
    }

    100% {
        transform: translateY(-50%) translateX(0);
    }
}

.section-animate {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.section-animate.in-view {
    opacity: 1;
    transform: translateY(0);
}