html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    font-weight: 400;
    font-size: $font-size-base;
    line-height: 1.5;
    color: $color-text;
    background-color: $color-bg;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body.lock,
body._lock {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin-top: 0;
    line-height: 1.3;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
}