/* MENU */
.menu {
    &__list {
        display: flex;
        align-items: center;
        gap: 2.4rem;
    }

    &__link {
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    @media (max-width: 1315px) {
        &__list {
            gap: 1.6rem;
        }

        &__link {
            font-size: 1.2rem;
        }
    }
}

/* BUTTON */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: fit-content;
    color: $color-white;
    background: $color-accent;
    border: 1px solid $color-accent;
    border-radius: 5rem;
    padding: 1.1rem 2.4rem;
    line-height: 1.5;
    transition: background-color 0.3s linear, color 0.3s linear, border 0.3s linear;

    &:hover {
        color: $color-white;
        background: $color-text;
        border: 1px solid $color-text;
    }

    &--secondary {
        background-color: #D8E6F3;
        color: #000000;
        border: 1px solid #D8E6F3;
    }
}


/* ==== SWIPER NAVIGATION BUTTONS ==== */
.swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    font-size: 3.2rem;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    transition: transform 0.3s ease, color 0.3s ease;

    &--prev {
        left: -6.4rem;

        &:hover {
            color: $color-white;
            transform: translateY(-50%) translateX(-5px);
        }
    }

    &--next {
        right: -6.4rem;

        &:hover {
            color: $color-white;
            transform: translateY(-50%) translateX(5px);
        }
    }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    bottom: -4.8rem;
}

.swiper-pagination-bullet {
    background-color: $color-text;
    opacity: 1;
    width: 0.6rem;
    height: 0.6rem;
}

.swiper-pagination-bullet-active {
    border: 1px solid $color-text;
    background-color: transparent;
    width: 1rem;
    height: 1rem;
}

/* CONTACT FORM 7 */
.wpcf7-not-valid-tip {
    font-size: 1.2rem;
    margin-left: 2.4rem;
}