/* MENU */
.menu {
    &__list {
        display: flex;
        align-items: center;
        gap: 2.4rem;
    }

    &__item {
        position: relative;
    }

    &__item--services::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 4.8rem;
    }

    &__item--services>.menu__link {
        display: flex;
        align-items: center;
        gap: 0.4rem;
    }

    &__item--services>.menu__link::after {
        content: '';
        display: inline-block;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%238BAAD9' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 2rem;
        height: 2rem;
        color: $color-text;
        transition: transform 0.3s ease;
        transform: rotate(0deg);
    }

    &__item--services:hover>.menu__link::after {
        transform: rotate(180deg);
    }

    &__item--services:hover .mega-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    &__link {
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__toggle-invisible {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 2.4rem;
        height: 2.4rem;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 10;
        display: none;

        @media (max-width: 992px) {
            display: block;
        }
    }

    &__item--services>.menu__link.active::after {
        transform: rotate(180deg);
    }

    @media (max-width: 1315px) {
        &__list {
            gap: 1.6rem;
        }

        &__link {
            font-size: 1.2rem;
        }
    }

    @media (max-width: 992px) {
        &__list {
            flex-direction: column;
            align-items: flex-start;
            gap: 2.4rem;
        }

        &__link {
            font-size: 1.8rem;
        }

        &__item--services::before {
            display: none;
        }

        &__item--services>.menu__link {
            gap: 1.6rem;
            position: relative;
            display: inline-flex;
        }

        &__item--services>.menu__link::after {
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}

@media (min-width: 992px) {
    .menu-item:not(.menu__item--services) .menu__link {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -0.5rem;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0.1rem;
            background-color: $color-text;
            transition: width 0.3s ease;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

/* MEGA MENU */
.mega-menu {
    position: absolute;
    left: 0;
    top: calc(100% + 3.2rem);
    width: 100vw;
    background: #fff;
    border-radius: 1.6rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(2rem);
    transition: 0.3s ease;
    z-index: 999;

    &__inner {
        max-width: $container-tertiary;
        margin: 0 auto;
        padding: 3.2rem;
        display: grid;
        grid-template-columns: 1fr 40rem;
        gap: 3.2rem;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.6rem;
        margin-top: 2.4rem;

        a {
            color: $color-text;
            font-size: $font-size-base;
            text-transform: capitalize;
        }
    }


    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.6rem;
    }

    &__title {
        font-size: 2.4rem;
    }

    &__image {
        aspect-ratio: 16 / 9;
        border-radius: 1.6rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media (max-width: 992px) {
        display: none;
        position: static;
        width: auto;
        background: transparent;
        border-radius: 0;
        opacity: 1;
        visibility: visible;
        transform: none;
        transition: 0.3s ease;

        &__header,
        &__image {
            display: none;
        }

        &__inner {
            grid-template-columns: 1fr;
            padding: 0 2.4rem;
        }

        &__list {
            grid-template-columns: 1fr;
            margin-top: 1.6rem;
        }

        &.active {
            display: block;
        }
    }
}

/* BUTTON */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: fit-content;
    color: $color-white;
    background: $color-accent;
    border: 1px solid $color-accent;
    border-radius: 5rem;
    padding: 1.1rem 2.4rem;
    line-height: 1.5;
    white-space: nowrap;
    transition: background-color 0.3s linear, color 0.3s linear, border 0.3s linear;

    &:hover {
        color: $color-white;
        background: $color-text;
        border: 1px solid $color-text;
    }

    &--secondary {
        background-color: #D8E6F3;
        color: #000000;
        border: 1px solid #D8E6F3;
    }
}


/* ==== SWIPER NAVIGATION BUTTONS ==== */
.swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    font-size: 3.2rem;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    transition: transform 0.3s ease, color 0.3s ease;

    &--prev {
        left: -6.4rem;

        &:hover {
            color: $color-white;
            transform: translateY(-50%) translateX(-5px);
        }
    }

    &--next {
        right: -6.4rem;

        &:hover {
            color: $color-white;
            transform: translateY(-50%) translateX(5px);
        }
    }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    bottom: -4.8rem;
}

.swiper-pagination-bullet {
    background-color: $color-text;
    opacity: 1;
    width: 0.6rem;
    height: 0.6rem;
}

.swiper-pagination-bullet-active {
    border: 1px solid $color-text;
    background-color: transparent;
    width: 1rem;
    height: 1rem;
}

/* CONTACT FORM 7 */
.wpcf7-not-valid-tip {
    font-size: 1.2rem;
    margin-left: 2.4rem;
}

/* Google Map */
iframe .gm-style .place-card {
    display: none !important;
}

/* Location */
.location {

    &__label {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-size: 1.4rem;
        margin-bottom: 0.2rem;

        span {
            font-family: $font-primary !important;
        }
    }

    &__address,
    &__email {
        margin-bottom: 1.6rem;
    }
}