.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: fit-content;
    color: #0A0A0A;
    background: $color-text;
    border: 1px solid $color-text;
    border-radius: 0.8rem;
    padding: 1.1rem 2.4rem;
    line-height: 1.5;
    text-transform: uppercase;
    transition: background-color 0.3s linear, color 0.3s linear, border 0.3s linear;
}

.button:hover {
    color: $color-text;
    background: #0A0A0A;
    border: 1px solid $color-text;
}

/* ==== SWIPER NAVIGATION BUTTONS ==== */
.swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-color: #F5F5F566;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.4rem 2.4rem;
    backdrop-filter: blur(8px);
    border-radius: 0.8rem;
    cursor: pointer;
    user-select: none;
    z-index: 10;

    &--prev {
        left: 2.4rem;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 18.5L8.5 11.5L15.5 4.5' stroke='%23F5F5F5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }

    &--next {
        right: 2.4rem;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 18.5L15.5 11.5L8.5 4.5' stroke='%23F5F5F5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
}