.footer {
    @media (max-width: 768px) {
        border-radius: 4rem 4rem 0 0;
        padding-block: 1.5rem;
    }

    &__inner {
        background-color: #E8F0F8;
        border-radius: 12rem 12rem 0 0;
        padding-inline: 7rem;
        padding-block: 3rem;

        @media (max-width: 768px) {
            padding-inline: 2rem;
        }
    }

    &__logo {
        text-align: center;

        img {
            max-width: 35rem;
        }

        @media (max-width: 768px) {
            img {
                max-width: 15rem;
            }
        }
    }

    &__bottom {
        border-top: 1px solid #1153A133;
        padding-top: 3rem;
        margin-top: 3rem;

        @media (max-width: 768px) {
            padding-top: 1.5rem;
            margin-top: 1.5rem;
        }
    }

    &__copyright {
        color: #1153A1B3;
        font-size: 1.8rem;
        text-align: center;

        @media (max-width: 768px) {
            font-size: 1.4rem;
        }
    }
}