.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-bg;
    padding-block: 2.4rem;
    z-index: 1000;

    &__inner {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        gap: 2.4rem;
    }

    &__logo {
        max-width: 30rem;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 3.2rem;
        justify-self: end;
    }

    &__phone {
        display: flex;
        font-size: 3.2rem;
        transition: color 0.3s linear;

        &:hover {
            color: $color-accent;
        }
    }

    @media (max-width: 1315px) {
        padding-block: 1.6rem;

        &__inner {
            gap: 1.6rem;
        }

        &__logo {
            max-width: 25rem;
        }

        &__actions {
            gap: 1.6rem;
        }

        &__phone {
            font-size: 2.4rem;
        }

        &__button {
            font-size: 1.4rem;
        }
    }

    @media (max-width: 992px) {

        &__nav,
        &__button {
            display: none;
        }

        &__inner {
            grid-template-columns: 1fr auto auto;
        }

        &__nav {
            position: fixed;
            top: 0;
            right: -100%;
            display: block;
            width: 100%;
            height: 100vh;
            background-color: $color-bg;
            padding: 10rem 2.4rem 2.4rem 2.4rem;
            overflow-y: auto;
            transition: right 0.3s ease;
            z-index: 1000;

            &.active {
                right: 0;
            }
        }

        &__logo,
        &__actions {
            position: relative;
            z-index: 1001;
        }
    }
}

.burger-menu {
    display: none;

    @media (max-width: 992px) {
        position: relative;
        display: block;
        width: 2.4rem;
        height: 2rem;
        margin-left: auto;
        cursor: pointer;
        z-index: 1001;


        span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $color-text;
            transition: all 0.3s;
        }

        span:nth-of-type(1) {
            top: 0;
        }

        span:nth-of-type(2) {
            top: calc(50% - 1px);
        }

        span:nth-of-type(3) {
            bottom: 0;
        }

        &.active span:first-child {
            top: calc(50% - 1px);
            transform: rotate(-45deg);
        }

        &.active span {
            transform: scale(0);
        }

        &.active span:last-child {
            bottom: calc(50% - 1px);
            transform: rotate(45deg);
        }
    }
}

.admin-bar .header {
    top: 32px;

    @media (max-width: 782px) {
        top: 46px;
    }
}