.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-bg;
    padding-block: 2.4rem;
    z-index: 1000;

    &__inner {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        gap: 2.4rem;
    }

    &__logo {
        max-width: 30rem;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 3.2rem;
        justify-self: end;
    }

    &__phone {
        display: flex;
        font-size: 3.2rem;
        transition: color 0.3s linear;

        &:hover {
            color: $color-accent;
        }
    }

    @media (max-width: 1315px) {
        padding-block: 1.6rem;

        &__inner {
            gap: 1.6rem;
        }

        &__logo {
            max-width: 25rem;
        }

        &__actions {
            gap: 1.6rem;
        }

        &__phone {
            font-size: 2.4rem;
        }

        &__button {
            font-size: 1.4rem;
        }
    }

    @media (max-width: 992px) {

        &__nav,
        &__button {
            display: none;
        }
    }
}

.burger-menu {
    display: none;

    @media (max-width: 992px) {
        display: block;
    }
}