.container {
    width: 100%;
    padding-inline: $container-padding;
    margin: 0 auto;
}

.container--primary {
    max-width: $container-primary;
}

.container--secondary {
    max-width: $container-secondary;
}

.container--tertiary {
    max-width: $container-tertiary;
}

.wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    padding-block-start: 10rem;
}

.section {
    padding-block: 3.2rem;
}

.section-title {
    font-family: $font-primary;
    font-size: 5.2rem;
    color: $color-text;
    line-height: 1.2;

    @media (max-width: 768px) {
        font-size: 3rem;
    }
}