.hero {
    padding: 4rem 0 6rem;

    .hero__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 2.4rem;
    }

    .hero__text-block {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        background: #EBF1F8;
        border-radius: 1.6rem;
        padding: 3.2rem;
    }

    .hero__image-main {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
        border-radius: 1.6rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hero__image-small {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        border-radius: 1.6rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hero__list-block {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        background: #253B66;
        border-radius: 1.6rem;
        padding: 3.2rem;
        color: #fff;

        .hero__list {
            display: flex;
            flex-direction: column;
            gap: 1.8rem;

            li {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
    }

    @media (max-width: 991px) {
        .hero__grid {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        .hero__image-main {
            grid-row: auto;
            height: 42rem;
        }
    }
}

.features {
    background-color: $color-accent;
    padding-block: 2.4rem;
    margin-block: 3rem;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        color: $color-white;
        text-align: center;
    }

    &__icon {
        width: 5rem;
        height: 5rem;
    }

    &__title {
        font-size: 3.2rem;
        font-weight: 700;
        margin-bottom: 3rem;

        @media (max-width: 768px) {
            font-size: 2.8rem;
        }
    }

}

/* Aproach */
.aproach {
    &__columns {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 8rem;
    }
}

/* About */
.about {
    padding-block: 1.5rem;

    &__columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}

/* Page hero */
.page-hero {

    &__inner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        padding-inline: 1.5rem;
        padding-block: 12rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-accent;
            border-radius: 20px;
            opacity: 0.7;
        }
    }

    &__content {
        position: relative;
        color: $color-white;
        text-align: center;
        z-index: 1;
    }

    &__subtitle {
        font-family: $font-primary;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 0.24rem;
        margin-bottom: 1.6rem;
        text-transform: uppercase;
    }

    &__title {
        font-family: $font-secondary;
        font-size: 5.2rem;
        font-weight: 700;
        line-height: 1.2;
    }
}

.contacts {
    margin-block: 8rem;
}

.contacts__inner {
    background-color: $color-accent;
    border-radius: 2rem;
    padding-block: 6rem;
    padding-inline: 3rem;
}

.contacts__columns {
    display: grid;
    grid-template-columns: 58% 42%;
    gap: 1rem;
}

.contacts__column {}

.contacts__column--left {}

.contacts__map {}

.contacts__location {
    background-color: #D8E6F3;
    border-radius: 1rem;
}

.contacts__email {}

.contacts__phone {}

.contacts__column--right {}

.contacts__list {
    background-color: #D8E6F3;
    border-radius: 1rem;
    padding: 3.2rem;
}

.contacts__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #1153A11A;
    padding-block: 1.2rem;

    &:last-child {
        padding-block-end: 0;
    }

    &:first-child {
        padding-block-start: 0;
    }
}

.contacts__item:last-child {
    border-bottom: 0;
}

.location {}

.location__address {}

.location__label {}

.location__title {}

/* Team section */
.team {
    padding-block: 6rem;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;


    }

    &__item {
        text-align: center;
        overflow: hidden;
    }

    &__img {
        border-radius: 1rem;
        margin-bottom: 2rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 700;
    }

    &__position {
        margin-top: 0.2rem;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 0.12rem;
        text-transform: uppercase;
    }
}

/* Price section */
.price {
    padding-block: 6rem;
}

.price__columns {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
}

.price__column {}

.price__column--left {}

.price__column--right {}

.price__list {}

.price__item {
    margin-bottom: 1.6rem;
}

.price__item-title {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.price__sublist {}

.price__subitem {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.price__subitem-title,
.price__subitem-price {
    white-space: nowrap;
}

.price__subitem-dots {
    flex: 1 1 auto;
    border-bottom: 2px dotted $color-text;
    margin: 0 1rem;
}