/* Hero */
.hero {
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 2.4rem;
    }

    &__text-block {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        background: #EBF1F8;
        border-radius: 1.6rem;
        padding: 3.2rem;
    }

    &__image-main {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
        border-radius: 1.6rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__image-small {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        border-radius: 1.6rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__list-block {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        background: #253B66;
        border-radius: 1.6rem;
        padding: 3.2rem;
        color: #fff;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
    }

    @media (max-width: 991px) {
        .hero__grid {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        .hero__image-main {
            grid-row: auto;
            height: 42rem;
        }
    }
}

/* Features */
.features {
    background-color: $color-accent;
    padding-block: 2.4rem;
    margin-block: 3rem;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        color: $color-white;
        text-align: center;
    }

    &__icon {
        width: 5rem;
        height: 5rem;
    }

    &__title {
        font-size: 3.2rem;
        font-weight: 700;
        margin-bottom: 3rem;

        @media (max-width: 768px) {
            font-size: 2.8rem;
        }
    }

}

/* About */
.about {

    &__columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    &__column {
        position: relative;
    }

    &__list {
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        background-color: #F5FAFE;
        border-radius: 1rem;
        padding: 3.2rem;
    }

    &__item {
        font-size: 2rem;
        font-weight: 700;

        &:not(:last-child) {
            margin-bottom: 0.8rem;
        }
    }

    &__image {
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 2rem;
        }
    }

    &__content {
        font-size: 1.8rem;
    }

    @media (max-width: 768px) {
        &__columns {
            grid-template-columns: 1fr;
            gap: 3rem;
        }

        &__content {
            font-size: $font-size-base;
        }

        &__list {
            left: 1.5rem;
            bottom: 1.5rem;
            right: 1.5rem;
        }
    }
}

/* Approach */
.approach {
    background-color: #E7F0F8;

    &__columns {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 8rem;
    }

    &__column--left {
        align-content: center;
    }

    &__content {
        font-size: 1.8rem;
    }

    &__expert {
        text-align: center;
    }

    &__image {
        margin-bottom: 2rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 2rem;
        }
    }

    &__name {
        font-size: 1.8rem;
        font-weight: 700;
    }

    @media (max-width: 768px) {
        &__columns {
            grid-template-columns: 1fr;
            gap: 3.2rem;
        }

        &__content {
            font-size: $font-size-base;
        }
    }
}

/* Page hero */
.page-hero {

    &__inner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        padding-inline: 1.5rem;
        padding-block: 12rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-accent;
            border-radius: 20px;
            opacity: 0.7;
        }
    }

    &__content {
        position: relative;
        color: $color-white;
        text-align: center;
        z-index: 1;
    }

    &__subtitle {
        font-family: $font-primary;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 0.24rem;
        margin-bottom: 1.6rem;
        text-transform: uppercase;
    }

    &__title {
        font-family: $font-primary;
        font-size: 5.2rem;
        font-weight: 700;
        line-height: 1.2;
    }
}

/* Contacts */
.contacts {
    margin-block: 8rem;

    &__inner {
        background-color: $color-accent;
        border-radius: 2rem;
        padding-block: 6rem;
        padding-inline: 3rem;
    }

    &__columns {
        display: grid;
        grid-template-columns: 58% 42%;
        gap: 1rem;
    }

    &__location {
        background-color: #D8E6F3;
        border-radius: 1rem;
        padding: 3.2rem;
    }

    &__list {
        background-color: #D8E6F3;
        border-radius: 1rem;
        padding: 3.2rem;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #1153A11A;
        padding-block: 1.2rem;

        &:last-child {
            padding-block-end: 0;
        }

        &:first-child {
            padding-block-start: 0;
        }
    }

    &__item:last-child {
        border-bottom: 0;
    }

    @media (max-width: 768px) {
        &__columns {
            grid-template-columns: 1fr;
        }
    }
}

/* Team section */
.team {
    padding-block: 6rem;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;


    }

    &__item {
        text-align: center;
        overflow: hidden;
    }

    &__img {
        border-radius: 1rem;
        margin-bottom: 2rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 700;
    }

    &__position {
        margin-top: 0.2rem;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 0.12rem;
        text-transform: uppercase;
    }
}

/* Price section */
.price {
    padding-block: 6rem;

    &__columns {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 3rem;
    }

    &__column--left {
        background-image: url(../img/verticalbg2.png);
        background-position: center top;
        background-size: contain;
        background-repeat: no-repeat;
    }
}



.price__column {}



.price__column--right {}

.price__list {}

.price__item {
    margin-bottom: 1.6rem;
}

.price__item-title {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.price__sublist {}

.price__subitem {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.price__subitem-title,
.price__subitem-price {
    white-space: nowrap;
}

.price__subitem-dots {
    flex: 1 1 auto;
    border-bottom: 2px dotted $color-text;
    margin: 0 1rem;
}

/* Services */
.services {
    background-color: #E7F0F8;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;

        @media (max-width: 1100px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 1.6rem;
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    &__title {
        margin-bottom: 3.2rem;
    }

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 4rem;
        min-height: 30rem;

        @media (max-width: 768px) {
            min-height: 20rem;
        }
    }

    &__item {
        position: relative;
        background-color: $color-accent;
        border-radius: 1rem;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url(../img/verticalbg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 100%;
            height: 100%;
            pointer-events: none;

            @media (max-width: 768px) {
                width: 15rem;
                left: auto;
                right: 4rem;
            }
        }

        &-title {
            color: $color-white;
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 1.6rem;

            @media (max-width: 992px) {
                font-size: 1.6rem;
            }
        }
    }
}

/* Gallery */
.gallery {
    padding-block-start: 3.2rem;

    &__inner {
        background-color: $color-text;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        padding-block: 9.6rem;
    }

    &__title {
        color: $color-white;
        margin-bottom: 3.2rem;
    }

    &__list {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        gap: 1.6rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        overflow: hidden;
        border-radius: 2.4rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* Reviews */
.reviews {
    margin-bottom: 8rem;

    &__inner {
        background-color: $color-accent;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        padding-block-start: 10rem;
        padding-block-end: 15rem;
    }

    &__title {
        color: $color-white;
        margin-bottom: 3.2rem;
    }

    &__columns {
        display: flex;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__column--left {
        flex: 1 1 66.666%;
    }

    &__column--right {
        position: relative;
        flex: 1 1 33.333%;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-image: url(../img/verticalbg.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 32.5rem;
            height: 31rem;
        }
    }

    &__slider-wrapper {
        position: relative;
        max-width: 80rem;
    }

    &__slide {
        background-color: #E8F0F8;
        border-radius: 1rem;
        padding: 3.2rem;
    }

    @media (max-width: 768px) {
        .swiper-button {
            display: none;
        }
    }
}

/* Contact Form */
.contact-form {

    &__columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.4rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    &__subtitle {
        @include subtitle;
    }

    &__title {
        font-size: 5.2rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 2rem;

        @media (max-width: 768px) {
            font-size: 3.2rem;
        }
    }

    &__fields {
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
    }

    &__field {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        &--half {
            width: calc(50% - 0.8rem);

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        &--full {
            width: 100%;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 500;
        margin-left: 2.4rem;
    }

    &__input {
        width: 100%;
        color: $color-text;
        padding: 1.2rem 2.4rem;
        border-radius: 2.4rem;
        border: none;
        background-color: #D8E6F3;
        font-size: 1.6rem;

        &::placeholder {
            color: $color-text;
        }
    }

    &__button {
        margin-top: 2.4rem;
    }

    &__column--right {
        position: relative;
        align-content: center;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-image: url(../img/verticalbg2.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 52rem;
            height: 49.4rem;
            z-index: -1;
        }

        @media (max-width: 768px) {
            &::before {
                left: 50%;
                right: auto;
                transform: translate(-50%, -50%);
                width: 100vw;
                max-width: 40rem;
                height: auto;
                aspect-ratio: 520 / 494;
            }
        }
    }

    &__list {
        width: 37rem;
        background-color: #E8F0F8;
        border-radius: 2.4rem;
        padding: 3.2rem;
        margin-left: auto;

        @media (max-width: 768px) {
            width: 100%;
            margin-left: 0;
        }
    }

    &__item {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1.6rem;
    }

}

/* Portfolio */
.portfolio {
    &__inner {}

    &__list {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        gap: 1.6rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        overflow: hidden;
        border-radius: 2.4rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* Advantages */
.advantages {
    .advantages__title {}

    .advantages__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1.6rem
    }

    .advantages__item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-text;
        border-radius: 1.6rem;
        color: $color-white;
        padding: 3.2rem;
        box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.05);
        transition: transform 0.25s ease, box-shadow 0.25s ease;

        &:hover {
            transform: translateY(-0.4rem);
            box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.08);
        }
    }

    .advantages__text {
        text-align: center;
    }
}

/* Indicators */
.indications {
    background: linear-gradient(135deg, rgba($color-accent, 0.05) 0%, rgba($color-bg, 1) 100%);

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.8rem;
        margin-top: 4rem;

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: 1fr;
            gap: 1.8rem;
        }
    }

    &__item {
        background: $color-white;
        border-radius: 2rem;
        padding: 3rem 2.4rem;
        text-align: center;
        box-shadow: 0 0.6rem 1.8rem rgba($color-accent, 0.08);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-0.5rem) scale(1.02);
            box-shadow: 0 1.2rem 2.4rem rgba($color-accent, 0.15);
        }

        /* Акцентная полоска сверху карточки */
        &::before {
            content: '';
            display: block;
            width: 5rem;
            height: 0.4rem;
            background: $color-accent;
            border-radius: 0.2rem;
            margin: 0 auto 2rem;
        }
    }

    &__text {
        font-family: $font-primary;
        font-size: 1.7rem;
        color: $color-accent;
        font-weight: 500;
        line-height: 1.5;
    }
}

/* Steps */
.steps {

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.4rem;

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: 1fr;
            gap: 1.6rem;
        }
    }

    &__item {
        background: #E8F0F8;
        border-radius: 1.6rem;
        padding: 2.4rem 3.2rem 2.4rem 2.4rem;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.05);
        transition: transform 0.25s ease, box-shadow 0.25s ease;

        &:hover {
            transform: translateY(-0.4rem);
            box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.08);
        }

        counter-increment: step-counter;

        &::before {
            content: counter(step-counter);
            position: absolute;
            top: 1.6rem;
            right: 1.6rem;
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1;
            color: rgba($color-accent, 0.1);
            pointer-events: none;
        }
    }

    &__text {
        font-size: $font-size-base;
        font-family: $font-primary;
        color: $color-accent;
        position: relative;
        z-index: 2;
        line-height: 1.5;
    }
}

/* Why Us */
.why_us {

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-top: 4rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 1.6rem;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        color: $color-accent;
        padding: 2rem 2.4rem;
        background: $color-white;
        border: 1px solid rgba($color-accent, 0.15);
        border-radius: 1.2rem;
        position: relative;
        transition: background 0.25s ease, border-color 0.25s ease, transform 0.25s ease;

        &:hover {
            background: $color-bg;
            border-color: rgba($color-accent, 0.3);
            transform: translateY(-0.3rem);
        }
    }

    &__text {
        font-size: $font-size-base;
        font-family: $font-primary;
        color: $color-accent;
        line-height: 1.45;
        font-weight: 500;
    }
}