$color-accent: #2D4469;
$color-bg: #F5FAFE;
$color-text: #8BAAD9;
$font-primary: 'Poppins', Arial, Helvetica, sans-serif;
$font-secondary: 'Cabinet Grotesk', Arial, Helvetica, sans-serif;
$font-size-base: 1.6rem;
$container-width: 124rem;
$site-padding: 1.5rem;