$color-accent: #2D4469;
$color-bg: #F5FAFE;
$color-text: #8BAAD9;
$color-white: #ffffff;
$font-primary: 'Inter', Arial, Helvetica, sans-serif;
$font-size-base: 1.6rem;
$container-primary: 127rem;
$container-secondary: 100%;
$container-padding: 1.6rem;