$color-primary: #F5F5F5;
$color-bg-primary: #0A0A0A;
$font-primary: 'Helvetica', Arial, sans-serif;
$font-secondary: 'Gotham Pro', sans-serif;
$font-tertiary: 'Inter', sans-serif;
$font-size-base: 1.6rem;
$container-primary: 114.8rem;
$container-padding: 2.4rem;