.features {
    background-color: $color-accent;
    padding-block: 2.4rem;
    margin-block: 3rem;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        color: $color-white;
        text-align: center;
    }

    &__icon {
        width: 5rem;
        height: 5rem;
    }

    &__title {
        font-size: 3.2rem;
        font-weight: 700;
        margin-bottom: 3rem;

        @media (max-width: 768px) {
            font-size: 2.8rem;
        }
    }

}